<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <h2>用户登录</h2>
  <form action="/login" method="post">
    <input type="text" name='username' value='laowang'>
    <input type="text" name="password" value="111111">
    <input type="submit" value="登录">
  </form>
</body>

</html>