body,
h1 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
.header {
  height: 1.375rem;
  position: fixed;
  background: #ef3239;
}
.menu,
.refresh {
  position: absolute;
  width: 1.375rem;
  height: 1.375rem;
  text-indent: -999em;
  overflow: hidden;
  font-size: 0;
}
.menu::before {
  content: '';
  width: 0.484375rem;
  height: 0.359375rem;
  background: #fff;
  display: block;
  margin: 0.421875rem 0 0 0.5625rem;
}
.refresh {
  right: 0;
  top: 0;
}
.refresh::before {
  content: '';
  width: 0.40625rem;
  height: 0.46875rem;
  display: block;
  background: #fff;
  margin: 0.34375rem 0.5625rem 0 0;
}
.logo {
  font: 0.53125rem / 1.375rem "微软雅黑";
  text-align: center;
}
